# ============================
# Node.js / NPM
# ============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# ============================
# Logs gerais
# ============================
logs/
*.log
*.tmp
*.temp
*.pid
*.seed
*.log.gz



# ============================
# Editor / IDE
# ============================
.vscode/
.vscode/*
.idea/


# ============================
# cache / Temporários
# ============================
.cache/
.tmp/
temp/
out/

# ============================
# Uploads
# ============================
uploads/
uploads/*
public/uploads/

# ============================
# Tests
# ============================
coverage/
.nyc_output/
